/* 
    Document   : photoflash
    Created on : Dec 1, 2012, 10:53:44 AM
    Author     : Nasim
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


/* BASIC RESET */
/*ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}*/

/* HTML ELEMENTS */
body { background-color:#1b2940; font:62.5% Georgia,'Times New Roman',serif; letter-spacing:1; }

/* COMMON CLASSES */
.break { clear:both; }

/* HEADER */
#photo_flash { height:200px; width: 950px; margin: 8px 8px 8px 8px; text-align: center;}
.headerimg { background-position: center top; background-repeat: no-repeat; width:100%; height:200px; }
#headerimgs { width: 99%;}
#headerimg1 { width: 99%;}
#headerimg2 { width: 99%;}

/* CONTROLS */
.btn { height:32px; width:32px; float:left; cursor:pointer; }
#back { background-image:url("../images/slideshow/btn_back.png"); }
#next { background-image:url("../images/slideshow/btn_next.png"); }
#control { background-image:url("../images/slideshow/btn_pause.png"); }

/* HEADER HAVIGATION */
#headernav-outer { position:absolute; top:325px; margin:0 auto; width:960px; }
#headernav { padding-left:425px; }

/* HEADER TEXT */
#headertxt { width:946px; margin-left: auto; top:356px; margin-right: auto; display: inline-block; clear:both; position:absolute;}
#firstline { background-image:url("../images/slideshow/textbg.png"); color:#000; font-size:13pt; padding:4px 13px 7px; float:left; text-align: center;margin-left: auto; margin-right: auto; display: inline-block; width: 97%; }
#secondline { background-image:url("../images/slideshow/textbg.png"); color:#000; text-decoration:none; font-size:18px; padding:0 13px 10px; float:left; clear:both; text-align: center;margin-left: auto; margin-right: auto; display: inline-block; width: 97%; }
#secondline:hover { text-decoration:underline; color:#7F000C; }



