* {
    margin: 0px;
    padding: 0px;
    font-family: vernada;
}

body {
    height: 100%;
    background-color: #ffffff;
    color: #85859c;
    font-size: 10px;
    font-family: vernada;
    text-align: center;
}

a {
    color: #85859c;
    text-decoration: underline;
}

a:hover {
    color: #69699c;
}

img {
    border: none;
}

p {
    margin: 10px 0px 5px;
    text-align: justify;
    line-height: 14px;
}

.clearthis {
    margin : 0px;
    height : 1px;
    clear : both;
    float : none;
    font-size : 1px;
    line-height : 0px;
    overflow : hidden;
}

#container {
    margin: 0px auto;
    width: 962px;
    border-color: #9e9ec3;
    border-width: 0px 1px 1px;
    background: #FFFFFF;
    font-family: Verdana;
    /*font-family: Arial,Helvetica,sans-serif;*/
    border-style: solid;
}

input {
    padding-left: 2px;
    background-color: #fff;
    color: #85859c;
    font-size: 11px;
}


/* Page Header */

#page_header {
    width: 962px;
    height: 98px;
    margin: 10px 6px 5px 6px;
    color: #fff;
    overflow: hidden;
}

#page_heading {
    margin-top: 8px;
    float: left;
}


#page_menu {
    margin: 8px 6px 10px 6px;
    width: 99.5%;
    height: 29px;
}

#page_menu ul {
    width: 100%;
    height: 29px;
    list-style-type: none;
    overflow: hidden;
}

#page_menu li {
    width: 11.6%;
    height: 29px;
    float: left;
    background: #808080;
    background: -moz-linear-gradient(top, #808080, #B0B0B0);
    background: -ms-linear-gradient(top, #808080, #B0B0B0);
    background: -o-linear-gradient(top, #808080, #B0B0B0);
    background: -webkit-linear-gradient(top, #808080, #B0B0B0);
    background: linear-gradient(top, #808080, #B0B0B0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#808080', EndColorStr='#B0B0B0');
    color: #565691;

    overflow: hidden;
    text-align: center;
    font-size: 13pt;
}

#page_menu ul li ul{
    width: 113px;
    height: 87px;
    position: absolute;
    
    background: #B0B0B0;
    background: -moz-linear-gradient(top, #B0B0B0, #808080);
    background: -ms-linear-gradient(top, #B0B0B0, #808080);
    background: -o-linear-gradient(top, #B0B0B0, #808080);
    background: -webkit-linear-gradient(top, #B0B0B0, #808080);
    background: linear-gradient(top, #B0B0B0, #808080);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#B0B0B0', EndColorStr='#808080');
    
    z-index: 5;
}

#page_menu ul li ul li{
    display: inline-block;
    width: 100%;
    float: none;
    background: none;
    filter: none;
}

#page_menu ul li ul li a {
    height: 29px;
    padding-top: 0px;
}


#page_menu li.first {
    margin-left: 0px;
}

#page_menu li.last {
    margin-right: 1px;
    width: 18%;
}

#page_menu a {
    padding-top: 3px;
    display: block;
    color: #fff;
    height: 26px;
    text-decoration: none;
}

#page_menu a:hover {
    background: #A0A0A0;
    background: -moz-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -ms-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -o-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -webkit-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: linear-gradient(top, #A0A0A0, #D0D0D0);
    -pie-background: linear-gradient(#A0A0A0, #D0D0D0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0A0A0', EndColorStr='#D0D0D0');
    color: #000000;        
}

#news_flash {
/*    width: 99.3%;*/
    height: 28px;
/*    padding-left: 5px;*/
    text-align: left;
    float: none;
    color: #000000;
    font-size: 18px;
    /*    background: #8989B6;    */
    margin-top: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    margin-left: 8px;
}


/* --------- End Photo Flash ----------- */

#search_location_bar {
    width: 99.8%;
    height: 28px;
    float: none;
    color: #000000;
    font-size: 18px;

/*    -moz-border-radius: 0em 0em .5em .5em;
    -ms-border-radius: 0em 0em .5em .5em;
    -o-border-radius: 0em 0em .5em .5em;
    -webkit-border-radius: 0em 0em .5em .5em;
    border-radius: 0em 0em .5em .5em;*/


    margin: 10px .1% 10px .1%;
    /*    border-bottom: 1px solid #FFFFFF;*/
}


#current_location {
    float: left;
    padding-left: 5px;

}

#page_headersearch {
    padding-right: 10px;
    /*	padding-top: 25px;*/
    float: right;
    clear: right;
/*    width: 340px;*/
    text-align: left;
    word-spacing: -1px;
    overflow : hidden;

}

#page_headersearch h3 {
    float: left;
    margin-top: 6px;
    font-size: 15px;
}

#page_headersearch form {
    padding-left: 3px;
    float: left;
}

#page_headersearch input {
    margin-top: 4px;
    padding-left: 2px;
    width: 158px;
    height: 18px;
    float: left;
    font-size: 12pt;
    border: none;
}

#page_headersearch input.searchtext {
    margin-top: 6px;
    padding-left: 2px;
    width: 158px;
    height: 18px;
    float: left;
    font-size: 14px;
    border: 1px solid;
}

.button {
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 24px;
    margin-top: 4px;
    margin-left: 5px;
    outline: medium none;
    padding: 0px 5px 0px 5px;
    width: auto;
    border: medium none;
    font-size: 13pt;
    font-weight: bold;
    
    background: #808080;
    background: -moz-linear-gradient(top, #808080, #B0B0B0);
    background: -ms-linear-gradient(top, #808080, #B0B0B0);
    background: -o-linear-gradient(top, #808080, #B0B0B0);
    background: -webkit-linear-gradient(top, #808080, #B0B0B0);
    background: linear-gradient(top, #808080, #B0B0B0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#808080', EndColorStr='#B0B0B0');
    
    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;
}

.button:hover {
    cursor: url;
    /*    background: #FFFFFF;*/
    background: #A0A0A0;
    background: -moz-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -ms-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -o-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -webkit-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: linear-gradient(top, #A0A0A0, #D0D0D0);
    -pie-background: linear-gradient(#A0A0A0, #D0D0D0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0A0A0', EndColorStr='#D0D0D0');
    color: #000000;
}

#page_headersearch input.button {
    padding: 0px 5px 0px 5px;
    margin-top: 4px;
    margin-left: 5px;
    outline: none;
    cursor: pointer;
    width: auto;
    height: 24px;
    /*    background: url('images/button_submit_background.gif') repeat-x 0px 0px;*/

    background: #808080;
    background: -moz-linear-gradient(top, #808080, #B0B0B0);
    background: -ms-linear-gradient(top, #808080, #B0B0B0);
    background: -o-linear-gradient(top, #808080, #B0B0B0);
    background: -webkit-linear-gradient(top, #808080, #B0B0B0);
    background: linear-gradient(top, #808080, #B0B0B0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#808080', EndColorStr='#B0B0B0');
    

/*    -moz-border-radius: .3em;
    -ms-border-radius: .3em;
    -o-border-radius: .3em;
    -webkit-border-radius: .3em;
    border-radius: .3em;*/

    /*    behavior: url(/css/PIE/PIE.php);*/
    /*    behavior: url(C:/wamp/www/crt2/css/PIE/PIE.php);*/
    color: #FFFFFF;
    float: left;
}

#page_headersearch input.button:hover {
    cursor: url;
    /*    background: #FFFFFF;*/
    background: #A0A0A0;
    background: -moz-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -ms-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -o-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: -webkit-linear-gradient(top, #A0A0A0, #D0D0D0);
    background: linear-gradient(top, #A0A0A0, #D0D0D0);
    -pie-background: linear-gradient(#A0A0A0, #D0D0D0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#A0A0A0', EndColorStr='#D0D0D0');
    color: #000000;
}


/* Left Sidebar */

#left_sidebar {
    width: 180px;
    float: left;
    margin: 1px 6px 6px 6px;
    text-align: left;

    /*        border-right: 1px solid #8989B6;
            border-bottom: 1px solid #8989B6;*/
    color: #8989b6;
}


#left_sidebar a {
    color: #8989b6;
    text-align: left;
    font-size: 13pt;
}

#left_sidebar a:hover {
    color: #75759c;
}


/* Left Sidebar : Categories */

#categories {
    text-align: center;
    width: 180px;
    /*	height: 28px;*/
    /*        background-color: #9e9ec3;*/
    background: #808080;
    background: -moz-linear-gradient(left, #808080, #A0A0A0);
    background: -ms-linear-gradient(left, #808080, #A0A0A0);
    background: -o-linear-gradient(left, #808080, #A0A0A0);
    background: -webkit-linear-gradient(left, #808080, #A0A0A0);
    background: linear-gradient(left, #808080, #A0A0A0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=1, StartColorStr='#808080', EndColorStr='#A0A0A0');



/*    -moz-border-radius: .5em .5em .5em .5em;
    -ms-border-radius: .5em .5em .5em .5em;
    -o-border-radius: .5em .5em .5em .5em;
    -webkit-border-radius: .5em .5em .5em .5em;
    border-radius: .5em .5em .5em .5em;*/
    float: left;
}

#categories div {
    width: 180px;
    text-align: left;
    border-bottom: #b6b6d2 1px solid;
    float: left;
}

#categories div.first {
    height: auto;
}

#categories div ul{
    padding-left: 20px;
    list-style-type: none;
    color: #FFFFFF;
}

#categories div li {
    width: 160px;
    /*	height: 28px;*/
    /*        background-color: #9e9ec3;*/
    text-align: left;
    border-bottom: #b6b6d2 1px solid;
    float: left;
}

#categories div.first li.last {

    border-bottom: none;
}

#categories div.last {
/*    border: none;*/
    border-bottom: #b6b6d2 2px solid;
}


#categories div a {
    margin-top: 4px;
    margin-left: 5px;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

#categories div a:hover {
    color: #56567c;
}


/* Main Content Area */

#main_content, #main_content2 {
    margin: 1px auto 6px auto;
    width: 568px;
    height: auto;
    font-size: 14px;
    float: left;
}

#main_content2 {
    width: 766px;
}

#main_content .topic, #main_content2 .topic {
    margin: 0px auto 1px auto;
    border: 1px solid #808080;
    width: 98%;
    height: auto;
    overflow: auto;
/*    -moz-border-radius: .5em .5em .5em .5em;
    -ms-border-radius: .5em .5em .5em .5em;
    -o-border-radius: .5em .5em .5em .5em;
    -webkit-border-radius: .5em .5em .5em .5em;
    border-radius: .5em .5em .5em .5em;*/
}

#main_content .topic_head, #main_content2 .topic_head {
    background-color: #D0D0D0;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
}

#main_content .topic_body, #main_content2 .topic_body {
    text-align: justify;
    margin: 6px 6px 6px 6px;
    font-family: verdana;
    font-size: 12pt;
    line-height: 20px;
}

#main_content .topic_body ul li, #main_content2 .topic_body ul li{
    margin-bottom: 10px;
}
#main_content table, #main_content2 table {
    width: 100%;
    margin: 1px 0px 1px 0px;
/*    border: 1px solid #808080;*/
}

#main_content table tr th, #main_content2 table tr th {
    margin: 0px 0px 1px 0px;
    font-size: medium;
    background-color: #A0A0A0;
    color: #FFFFFF;
}
/*---------------------*/


/* Right Sidebar */

#right_sidebar {
    margin: 0px 6px 6px 1px;
    float: right;
    width: 190px;
    height: 450px;
}

#right_sidebar div{
    border: 1px solid #808080;
/*    -moz-border-radius: .5em .5em .5em .5em;
    -ms-border-radius: .5em .5em .5em .5em;
    -o-border-radius: .5em .5em .5em .5em;
    -webkit-border-radius: .5em .5em .5em .5em;
    border-radius: .5em .5em .5em .5em;*/
}

#right_sidebar table{
    width: 100%;
    font-size: 12pt;
}

#right_sidebar td.first{
    
    background: #808080;
    background: -moz-linear-gradient(top, #808080, #B0B0B0);
    background: -ms-linear-gradient(top, #808080, #B0B0B0);
    background: -o-linear-gradient(top, #808080, #B0B0B0);
    background: -webkit-linear-gradient(top, #808080, #B0B0B0);
    background: linear-gradient(top, #808080, #B0B0B0);
    filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0, StartColorStr='#808080', EndColorStr='#B0B0B0');
    text-align: center;
    color: #FFFFFF;
    font-size: 13pt;
/*    -moz-border-radius: .2em .2em 0em 0em;
    -ms-border-radius: .2em .2em 0em 0em;
    -o-border-radius: .2em .2em 0em 0em;
    -webkit-border-radius: .2em .2em 0em 0em;
    border-radius: .2em .2em 0em 0em;*/
}

#publication {
    height: 50%;
    margin: 1px 1px 6px 1px;
/*    -moz-border-radius: .5em .5em 0em 0em;
    -ms-border-radius: .5em .5em 0em 0em;
    -o-border-radius: .5em .5em 0em 0em;
    -webkit-border-radius: .5em .5em 0em 0em;
    border-radius: .5em .5em 0em 0em;*/
}


#noticeboard {
    height: 50%;
    border: 1px solid #808080;
    margin: 6px 1px 6px 1px;
    
/*    -moz-border-radius: 0em 0em .5em .5em;
    -ms-border-radius: 0em 0em .5em .5em;
    -o-border-radius: 0em 0em .5em .5em;
    -webkit-border-radius: 0em 0em .5em .5em;
    border-radius: 0em 0em .5em .5em;*/
}


#noticeboard ul li {
    list-style-type: none;
}

/* --------------- */

/* Page Footer */

#page_footer {
    width: 950px;
}

#powered_by {
    padding-top: 17px;
    height: 30px;
    text-align: center;
}

